@import "variables";

section[role=output]{
    border-top:1px solid #000;
    overflow-y:auto;
    font-family: 'SourceCodeProLight', Helvetica, Arial, sans-serif;
    color:green;
}

.genericType {
    padding-left:5px;
    border-bottom:1px solid #cdcdcd;
}