// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins/breakpoints";
// @import "../../node_modules/bootstrap/scss/mixins/clearfix";
// @import "../../node_modules/bootstrap/scss/mixins/grid-framework";
// @import "../../node_modules/bootstrap/scss/mixins/grid";
// @import "../../node_modules/bootstrap/scss/grid";
@import "grid";
@import "variables";

html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow:hidden;
    font-family: 'SourceCodePro', Helvetica, Arial, sans-serif; 
}

grab-bar {
    display:flex;
}

grab-bar div {
    background:green;
    &.vertical {
        cursor: ew-resize;
        width:5px;
    }
    &.horizontal {
        cursor: ns-resize;
        height:5px;
        width:100%;
    }
    &.grabbing {
        cursor: -webkit-grabbing !important;
    }
}

@import "output";
@import "input";