<div class="fullscreen container">
    <div class="row top">
        <scriptpad-menu (command)="runcommand($event)"></scriptpad-menu>
    </div>
    <div class="row middle">
        <scriptpad-layers class="layers"></scriptpad-layers>
            <grab-bar *ngIf="settings.resizablePanes" orientation="vertical"></grab-bar>
        <scriptpad-input class="input"></scriptpad-input>
    </div>
        <grab-bar *ngIf="settings.resizablePanes" orientation="horizontal"></grab-bar>
    <div class="row bottom">
        <scriptpad-output class="component full-width" [update]="lastUpdate"></scriptpad-output>
    </div>
</div>
