.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0; }

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.full-width {
  width: 100%; }

.top {
  flex-grow: 1; }

.middle {
  flex-grow: 12; }

.bottom {
  flex-grow: 6; }

.layers {
  flex-grow: 1; }

.input {
  flex-grow: 10; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'SourceCodePro', Helvetica, Arial, sans-serif; }

grab-bar {
  display: flex; }

grab-bar div {
  background: green; }
  grab-bar div.vertical {
    cursor: ew-resize;
    width: 5px; }
  grab-bar div.horizontal {
    cursor: ns-resize;
    height: 5px;
    width: 100%; }
  grab-bar div.grabbing {
    cursor: -webkit-grabbing !important; }

section[role=output] {
  border-top: 1px solid #000;
  overflow-y: auto;
  font-family: 'SourceCodeProLight', Helvetica, Arial, sans-serif;
  color: green; }

.genericType {
  padding-left: 5px;
  border-bottom: 1px solid #cdcdcd; }

scriptpad-input {
  display: flex; }

section[role=input] {
  display: flex;
  width: 100%; }
  section[role=input] textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 0;
    outline: none;
    resize: none; }

textarea {
  color: purple; }
